
/* #top {
  height: 25%;
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
  background: blanchedalmond;
} */

.darkMode_toggle {
    align-self: flex-end;
}
.navBar_div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted red;
}

.navBar_img_div {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
    
}
.navBar_img {
  width:100%;
  
}
.navBar_list_div {
 
}



ul li{
margin:auto;
display: inline;
border: 2px solid red;
margin: 0% 5%;
}

/* Main portion */
.main_container {
    border: 2px solid rgb(17, 81, 218);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5%;
}
.about_div {
  height:5%;
  justify-content: center;
  margin: 1% 1%;
  font-size: 20px;
  text-align: justify;
}

.project_individual_container {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(70, 226, 43);
}

.project_individual_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
 
}
.project_individual_img:hover {
  border:3px solid rgb(9, 234, 255);
}

.project_imgs {
  width:100%;
  border: 3px solid black;
  flex-basis: 50%;
  opacity: .95;
}
.project_imgs:hover {
  
  opacity: 1;
}

.project_individual_description {
  margin-left: 2%;
  text-align: justify;
  border: 2px dotted red;
  flex-basis: 40%;
}

.project_individual_description h3{
 font-size: larger;
 font-family: sans-serif;
 font-style: oblique;
 margin: auto;
} 

/* github link icon */
.project_individual_description img {
  height: 20px;
  margin-left: 3%;
  /* display: inline-block; */
  background: rgb(141, 129, 120);
  border-radius: 50%;
}
.project_individual_description img:hover {
  background: rgb(9, 234, 255);
  border-radius: 50%;
}

/* footer  */
.socials_div {
  display: flex;
  justify-content: center;
  margin: 0% 5%;
}

.socials_div img {
  height: 28px;
}
.socials_div img:hover {
background: rgb(9, 234, 255);
border-radius: 50%;
}