
body{
  background-color: rgb(49, 49, 48);
}
.navBar_div{
    width: 100%;
    height: 15%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    box-shadow: 4px 4px 3px #747070;
    background-color:rgb(145, 178, 240) ;
    margin: 0% 0%;
    position: fixed;
    z-index: 1;
}

.navBar_list_div a {
  color: rgb(0, 0, 0);
  border-right: 2px solid black;
  align-content: space-between;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navBar_list_div a {
  color: white;

  transition-property: border;
  transition-duration:.25s;
}
.navBar_list_div a:hover {
  border:3px solid rgb(9, 234, 255);
 
}



ul li{
margin:auto;
display: inline;
/* border: 2px solid red; */
margin: 0% 5%;
}

/* Main portion */
.main_container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5%;
    
}

.about_div {
  color: white;
  height:5%;
  justify-content: center;
  margin: 1% 1%;
  font-size: 20px;
  text-align: justify;
  flex-direction: row;
}

.about_img_div {
  height: 10%;
  width: 7.5%;
}
.about_img_div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.about_div_description {
  width: auto;
}

.projects_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 10px dotted royalblue; */
}

.project_individual_container {
  width: 45%;
  margin-bottom: 1%;
  border: 2px solid black;
  justify-content: row;
  background-color: seashell;
  transition: .55s;
  opacity: .95;
}
.project_individual_container:hover {
  border:3px solid rgb(9, 234, 255);
  opacity: 1;
  transform: scale(1.0075)
}

.project_individual_img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  overflow: hidden;
  border: 2px solid black;
 
}

.project_imgs {
  width:100%;
  border-bottom: 2px solid black;
  opacity: .95;
}
.project_imgs:hover {
  opacity: 1;
}

.project_individual_description {
  text-align: justify;
  height: 50%;
  width: 90%;
  margin: 0% 5%;
}

.project_individual_description h3{
 font-size: larger;
 font-family: sans-serif;
 font-style: oblique;
 text-align: center;
} 

/* github link icon */
.project_individual_description img {
  height: 20px;
  margin-left: 3%;
  /* display: inline-block; */
  background: rgb(216, 211, 208);
  border-radius: 50%;
}
.project_individual_description img:hover {
  background: rgb(9, 234, 255);
  border-radius: 50%;
}

/* footer  */
.socials_div {
  display: flex;
  justify-content: center;
  margin: 0% 5%;
}

.socials_div img {
  height: 32px;
  
}
.socials_div img:hover {
background:  rgb(9, 234, 255);
border-radius: 50%;
}