
body{
  background-color: rgb(49, 49, 48);
}
.navBar_div{
    width: 90%;
    height: 22%;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    /* border: 5px dotted red; */
    border-bottom: 2px solid black;
  box-shadow: 4px 4px 3px #747070;
    background-color:rgb(145, 178, 240) ;
    margin: 0% 5%;
    position: fixed;
    z-index: 1;
}

.navBar_img_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
    
}
.navBar_img {
  width:100%;
  
}
.navBar_list_div a {
  color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



ul li{
margin:auto;
display: inline;
/* border: 2px solid red; */
margin: 0% 5%;
}

/* Main portion */
.main_container {
    /* border: 2px solid rgb(17, 81, 218); */
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5%;
    
}
.about_div {
  color: white;
  height:5%;
  justify-content: center;
  margin: 1% 1%;
  font-size: 20px;
  text-align: justify;
}

.projects_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 10px dotted royalblue; */
}

.project_individual_container {
  width: 45%;
  margin-bottom: 1%;
  border: 2px solid black;
  /* flex-basis: 50%; */
  /* border: 3px solid rgb(238, 33, 152); */
  justify-content: row;
  background-color: seashell;
}

.project_individual_img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  overflow: hidden;
  border: 2px solid black;
 
}
.project_individual_img:hover {
  border:3px solid rgb(9, 234, 255);
}

.project_imgs {
  width:100%;
  border: 3px solid black;
  opacity: .95;
}
.project_imgs:hover {
  opacity: 1;
}

.project_individual_description {
  text-align: justify;
  border: 2px dotted red;
  height: 50%;
  overflow:auto;
}

.project_individual_description h3{
 font-size: larger;
 font-family: sans-serif;
 font-style: oblique;
 text-align: center;
} 

/* github link icon */
.project_individual_description img {
  height: 20px;
  margin-left: 3%;
  /* display: inline-block; */
  background: rgb(216, 211, 208);
  border-radius: 50%;
}
.project_individual_description img:hover {
  background: rgb(9, 234, 255);
  border-radius: 50%;
}

/* footer  */
.socials_div {
  display: flex;
  justify-content: center;
  margin: 0% 5%;
}

.socials_div img {
  height: 32px;
  
}
.socials_div img:hover {
background:  rgb(9, 234, 255);
border-radius: 50%;
}